.accordion-header {
    font-size: .5rem;
}

.accordion-item {
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400
}

.accordion-button {
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
}

.accordion-button:not(.collapsed) {
    background-color: var(--cor-separador);
    color: var(--cor-terciaria);
}

.accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 .25rem rgba(212, 117, 111, .25);
}

.accordion-button:hover {
    background-color: var(--cor-separador);
}

.accordion-body {
    background-color: var(--cor-terciaria);
    color: var(--cor-principal)
}

.faq-duvida {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: .95rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
}