
.footer {
    border-top: 1px solid;
    border-top-color: rgba(212, 117, 111, 0.3);
    display: flex;
    padding: 4.0625rem 0;
    align-items: flex-start;
    flex-shrink: 0;
    max-width: 100%; 
}

.footer-titulo {
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.0625rem;
    font-style: normal;
    padding: 0;
    white-space: nowrap;
    font-family: "Cinzel";
    color: var(--cor-separador);
}

.footer-texto {
    opacity: .8;
    font-size: clamp(.7rem, 2.5vw, .9rem);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--cor-principal);

    @media(max-width: 425px) {
        margin-bottom: 0;
    }
}

.navegacao-footer p {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; 
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.navegacao-link {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    text-decoration: none;

     @media (max-width: 425px) {
        font-size: clamp(.7rem, 2.5vw, .9rem);;
    }
}

.navegacao-link:hover {
    color: var(--cor-separador); 
    transform: translateY(-2px); 
    border: none;
    transition: all 0.3s ease-in-out;
}

.footer-termos {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21875rem; 
    letter-spacing: 0.01875rem;

    @media (max-width: 425px) {
        font-size: clamp(.6rem, 2.5vw, .9rem);;
    }
}

.footer-termos a,
.footer-termos p {
    text-decoration: none;
    color: var(--cor-principal);
    opacity: .8;
}