.servicos {
    padding-top: 0px;
}

.servicos-texto {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    flex-shrink: 0;
    margin-top: .5rem !important;
    margin-bottom: 1rem;
    font-size: .95rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85rem;
    letter-spacing: 0.03rem;
}

.des-web {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;

    @media(max-width: 425px) {
        margin-bottom: 0.5rem !important;
    }
}

.icon {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.icon-servicos,
.icon-contato {
    color: var(--cor-separador);
}

.icon-icon {
    width: 1.25rem;
}

.servicos-subTitle {
    margin-top: 1.44rem;
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(.9rem, 2.5vw, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.85rem;
    letter-spacing: 0.03rem;
}

.servicos-subTitle p {
    font-size: clamp(0.8rem, 1vw, .9rem);
    font-style: normal;
    font-weight: 400
 }

.manutencao p,
.performance p,
.automacao-inteligente p,
.des-web p {
    color: var(--cor-principal);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.8rem, 1vw, .9rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.42188rem; 
    letter-spacing: 0.02188rem;
    padding-bottom: 1rem;
}

li::marker {
    color: var(--cor-separador);
}

.automacao-inteligente {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;

    @media (max-width: 425px) {
        margin-top: 1rem;
    }
}

.performance {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
}

.manutencao {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;

    @media (max-width: 425px) {
        margin-top: 2rem;
    }
}

ul li p {
    font-size: clamp(0.8rem, 1vw, .9rem);
}

.solucoes-lista li p {
    color: var(--cor-secundaria);
}