:root {
    --cor-sombra:  0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
    --cor-principal: #171717;
    --cor-pretoSecundario: #161616;
    --cor-secundaria: #434345;
    --cor-separador: #886754;
    --cor-terciaria: #f8f9fa;
    --cor-bg: #f8f9fa;
    --cor-bg2: rgba(248, 249, 250, 0.85);
    --cor-sombra:  rgba(17, 17, 26, 0.1) 0px 1px 0px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
    --cor-sombra2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

[data-theme="dark"] {
    --cor-principal:  #f1f1f1;
    --cor-terciaria: #161616;
    --cor-separador: #b28063;
    --cor-secundaria: #8f8f8f;
    --cor-bg: #161616;
    --cor-bg2: rgba(22, 22, 22, 0.95);
    --cor-sombra: rgba(0, 0, 0, 0.4) 0px 1px 0px, 
            rgba(0, 0, 0, 0.4) 0px 8px 24px, 
            rgba(0, 0, 0, 0.4) 0px 16px 48px;
    --cor-sombra2: rgba(0, 0, 0, 0.6) 0px 10px 10px -10px;
}