
@import url(_variaveis.css);
@import url(_header.css);
@import url(_hero.css);
@import url(_sobre.css);
@import url(_servicos.css);
@import url(_paraVoce.css);
@import url(_habilidades.css);
@import url(_portifolio.css);
@import url(_processo.css);
@import url(_faq.css);
@import url(_contato.css);
@import url(_whatsapp-contato.css);
@import url(_footer.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
  src: url("/assets/fonts/CinzelDecorative-Regular.woff2") format("woff2");
  font-family: "Cinzel";
  font-display: swap;
}

html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  overflow-x: hidden;
  background: var(--cor-terciaria);
}

main {
  padding: 0 6rem;
}

.section-title {
  color: var(--cor-separador);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: clamp(1.2rem, 1.8vw, 2rem) !important;
} 

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.form-floating > label {
  color: var(--cor-principal);
  opacity: .5;
}

.form-floating .form-control {
  color: var(--cor-principal);
}